[submodule ".config/wofi/themes"]
	path = .config/wofi/themes
	url = https://github.com/joao-vitor-sr/wofi-themes-collection
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule ".local/share/rofi/themes"]
	path = .local/share/rofi/themes
	url = https://github.com/lr-tech/rofi-themes-collection.git
[submodule ".config/kitty/kitty_grab"]
	path = .config/kitty/kitty_grab
	url = https://github.com/yurikhan/kitty_grab.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = "https://github.com/ohmyzsh/ohmyzsh.git "
[submodule ".config/vim/bundle/Vundle.vim"]
	path = .config/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/simone/.rbenv"]
	path = /home/simone/.rbenv
	url = https://github.com/rbenv/rbenv.git
