# Ignore theme-related changes in configuration files

# GTK Theme configurations
.config/gtk-3.0/settings.ini filter=ignore-theme
.gtkrc-2.0 filter=ignore-theme

# QT Theme configurations
.config/qt5ct/qt5ct.conf filter=ignore-theme
.config/qt6ct/qt6ct.conf filter=ignore-theme

# Terminal emulator themes
.config/alacritty/alacritty.yml filter=ignore-theme
.config/kitty/kitty.conf filter=ignore-theme
.config/termite/config filter=ignore-theme

# Window manager and launcher themes
.config/i3/config filter=ignore-theme
.config/rofi/config filter=ignore-theme
.config/wofi/config filter=ignore-theme

# Text editor and shell themes
.config/vim/vimrc filter=ignore-theme
.spacemacs filter=ignore-theme

# Task manager theme
.config/task/taskrc filter=ignore-theme

# Music player themes
.config/spotify-tui/config.yml filter=ignore-theme
.config/spicetify/config.ini filter=ignore-theme

# Miscellaneous applications
.config/SpeedCrunch/SpeedCrunch.ini filter=ignore-theme
.config/ranger/rc.conf filter=ignore-theme
.config/chtsh/conf filter=ignore-theme
.config/rofi/config.rasi filter=ignore-theme
.config/bat/config filter=ignore-theme
.config/zathura/zathurarc filter=ignore-theme

# Define a custom Git filter that removes theme-related changes

