.dot_git

# log files/dirs
*.log*
*logs/*
*Logs/*

### Specific file extensions
*.lock
*.lck
*.jpg
*.jpeg
*.png
*.dat
*.timestamp
*.cache*
*.directory
*.menu
*.tox
*.cache

### Particular files/dirs
.Xauthority
# This file is used to see the entropy when using cryptographic tools, e.g. OpenSSL.
.rnd
# This is my personal dir stack used by gpush/gpo
.gdir.txt
.ssh/
.gnupg/
!.gnupg/gpg-agent.conf
.pki/
.emacs.d/
.esd_auth
.bash_history
.bash_eternal_history
.wget-hsts
.lesshst
.spacemacs_private
*wine-extension*

.config/onedrive/*
!.config/onedrive/config
!.config/onedrive/sync_list
.xournal/
!.xournal/config
.config/pcmanfm-qt/
# don't know why it doesn't work without an * and the ! pattern
# maybe bcz autosave is interpreted as a dir
.config/cmus/*
!.config/cmus/autosave
.config/q4wine/
.config/transmission-daemon/
.config/QtProject.conf
.config/htop/
.config/dconf/
.config/tox/
.config/gpick/
.config/keepassxc/
.config/mps-youtube/
.config/pavucontrol-qt/
.config/zuluCrypt/
.config/neomutt/passwords
.config/chromium/
.config/vim/bundle/
.config/calibre/
.config/VirtualBox/*.log.*
.config/libreoffice/
.config/opera/
.config/skypeforlinux/
.config/smplayer/
.config/spotify/
.config/texstudio/
.config/transmission*/resume/
.config/transmission*/torrents/
.config/mailnag/mailnag.cfg
.config/pulse/
.config/copyq*
!.config/copyq-_0/copyq-_0.conf
.config/lxqt/wallets

.config/gcalcli/cache
.config/gcalcli/oauth
.config/configstore/update-notifier-npm.json

.local/share

# Used (mainly?) by pip --user
.local/lib
.local/bin

# Used by go for my settings
.local/pkg
.local/src

bin/chkrootkit*
bin/tests/*
bin/matlab
bin/mex
bin/go
bin/x/k2pdfopt
bin/x/qtox_git

backup
Downloads
LinuxData
.audacity-data/
.wine/
.thunderbird/
.scuolabook/
.npm/
.netbeans/
.mozilla/
.cabal/packages/
.cache/
.dropbox-dist/
.dbus/
.eclipse/
# ... other eclipse related dirs
.tooling/ 
.swt/

.matlab/
.goldendict/
.java/
.jd/
.texlive/
.tmux/plugins/
.tmux/resurrect/
.macromedia/
.psensor/

### LINUX
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Lock files
.lock*

# Backup files
*bak

### EMACS
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el


### VIM
# Swap
# Commented bcz ignore also .scm files
#[._]*.s[a-v][a-z]
[._]*.sw[a-p]
#[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags

