.git_dotfiles

# log files/dirs
*.log*
*logs/*
*Logs/*

### Specific file extensions
*.lock
*.lck
*.jpg
*.jpeg
*.png
*.dat
*.timestamp
*.cache*
*.directory
*.menu

### Particular files/dirs
bash_eternal_history
.spacemacs_private
*wine-extension*

.config/neomutt/passwords
.config/chromium/*
.config/vim/bundle/*
.config/calibre/*
.config/VirtualBox/*.log.*
.config/libreoffice/*
.config/opera/*
.config/skypeforlinux/*
.config/smplayer/*
.config/spotify/*
.config/texstudio/*
.config/transmission*/resume/*
.config/transmission*/torrents/*

.local/share/applications/wine*
.local/share/applications/q4wine*
.local/share/TelegramDesktop/*

bin/chkrootkit*
backup/*
Downloads/*
.wine/*
.thunderbird/*
.scuolabook/*
.npm/*
.netbeans/*
.mozilla/*
.cabal/packages/*
.cache/*
.dropbox-dist/*
.dbus/*
.eclipse/*
.matlab/*
.goldendict/*
.java/*
.jd/*
.texlive/*
.tmux/plugins/*
.tmux/resurrect/*
.macromedia/*

### LINUX
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Lock files
.lock*

# Backup files
*bak

### EMACS
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el


### VIM
# Swap
# Commented bcz ignore also .scm files
#[._]*.s[a-v][a-z]
[._]*.sw[a-p]
#[._]s[a-v][a-z]
[._]sw[a-p]

# Session
Session.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags

