## Load X resources, never background them 
[ -f ~/.Xdefaults ] && xrdb -merge ~/.Xdefaults > "$MDIR_LOGS/startx/xrdb_defaults.log$DISPLAY" 2>&1
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources > "$MDIR_LOGS/startx/xrdb_resources.log$DISPLAY" 2>&1

# Source my file with environment variables used by GUI application
[ -f ~/.xmyenv ] && . ~/.xmyenv > "$MDIR_LOGS/startx/xmyenv.log$DISPLAY" 2>&1

# Xscreeensavere manages screensaver, xss-lock respond to suspend/hibernate event locking screen
xscreensaver -no-splash >"$MDIR_LOGS/startx/xscreensaver.log$DISPLAY" 2>&1 &
xss-lock -- xscreensaver-command --lock >"$MDIR_LOGS/startx/xss-lock.log$DISPLAY" 2>&1 &

# To associate shortcuts to events
xbindkeys >"$MDIR_LOGS/startx/xbindkeys.log$DISPLAY" 2>&1 &

# Network applet
nm-applet >"$MDIR_LOGS/startx/nm_applet.log$DISPLAY" 2>&1 &

# notification system daemon
#twmnd >~/logs/startx/twmnd.log 2>&1 &
dunst >"$MDIR_LOGS/startx/dunst.log$DISPLAY" 2>&1 &

# To avoid terminal bell
#xset -b

# Polkit, started by systemctl
lxqt-policykit-agent >"$MDIR_LOGS/startx/lxqt_policykit_agent.log$DISPLAY" 2>&1 &

# Start the OpenSSH agent, evaluating the environment variables
eval $(ssh-agent) >"$MDIR_LOGS/startx/ssh_agent.log$DISPLAY" 2>&1 &

# Execute all my periodic X scripts
for file in ~/bin/x/cron/?*.sh; do
	name=$(basename -s .sh $file)
	logfile="$MDIR_LOGS/startx/$name.log$DISPLAY"
	( $file >"$logfile" 2>&1 &)
done
unset file

# Execute all my startup X scripts
for file in ~/bin/x/startup/?*.sh; do
	name=$(basename -s .sh $file)
	logfile="$MDIR_LOGS/startx/$name.log$DISPLAY"
	( $file > "$logfile" 2>&1 &)
done
unset file

# Execute all scripts inside xinitrc.d
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi

# Change the screen settings
#xrandr --output "Screen 0" --brightness 0.5 --gamma 1:1:0.5
xrandr --output $(xrandr | grep -E " connected (primary )?[1-9]+" | sed -e "s/\([A-Z0-9]\+\) connected.*/\1/") --brightness 0.5 --gamma 1:1:0.5 > "$MDIR_LOGS/startx/xrandr.log$DISPLAY" 2>&1


# Activate bloc num
numlockx &

# Set us layout for keyboard
setxkbmap us > "$MDIR_LOGS/startx/setxkbmap.log$DISPLAY" 2>&1
# To remap keys, see http://www.economyofeffort.com/2014/08/11/beyond-ctrl-remap-make-that-caps-lock-key-useful/
setxkbmap -option 'caps:ctrl_modifier' >> "$MDIR_LOGS/startx/setxkbmap.log$DISPLAY" 2>&1 
xcape -e 'Caps_Lock=Escape;Control_L=Escape;Control_R=Escape' > "$MDIR_LOGS/startx/xcape.log$DISPLAY" 2>&1
#
# Alternative method to swap CapsLock and Ctrl key
# xmodmap ~/.config/xmodmap/speedswapper
