@-moz-document url("about:newtab") {  
    body {
        background-color: #000000 !important;
    }
}
@-moz-document url-prefix(about:blank) {
	*{
		background-color:#000000;
	}
}
@-moz-document url-prefix(about:preferences) {
	*{
		background-color:#383C4A;
	}
}
@-moz-document url-prefix(about:addons) {
	* {
		background-color:#7C7C7C;
	}
}
@-moz-document url-prefix(moz-extension://ff2ae19d-c409-45e6-8703-63054d6938fe/onetab.html) {
	* {
		background-color:#000000;
	}
}
@-moz-document url-prefix(view-source:) {
	* {
		background-color:#CDCDCD;
	}
}
