# Directory where the files will be synced
sync_dir = "$MDIR_GLOBAL_DATA/Public/onedrive/polimi"
# Skip files and directories that match this pattern
skip_file = "~*|.~*|*.tmp"
skip_dir = "Attachments|ProgrammiStandalone|Music|BackupElisa"
# Skip simlinks
skip_symlinks = "false"
skip_dotfiles = "false"
# Wait time (seconds) between sync operations in monitor mode
monitor_interval = "60"
