[Desktop Entry]
Version=1.0
Name=Telegram Desktop (1)
Comment=Official desktop version of Telegram messaging app
TryExec=/home/tigerjack/.local/share/TelegramDesktop/Telegram
Exec=/home/tigerjack/.local/share/TelegramDesktop/Telegram -many -workdir /home/tigerjack/.local/share/TelegramDesktop/Profiles/1 -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
X-Desktop-File-Install-Version=0.23
