[Desktop Entry]
Version=1.0
Name=MnemosyneMine
Comment=A flash card program to make your review process more efficient
Exec=/usr/bin/mnemosyne -d /mnt/internal/DatiSimone/AppData/Mnemosyine %f
TryExec=/usr/bin/mnemosyne
Icon=mnemosyne
Categories=Education
Terminal=false
Type=Application
