[Desktop Entry]
Name=PDF-XChange Editor 6 Wrapper (win64)
MimeType=application/pdf;
Exec=pdf_xchange_wrapper6_porta.sh %F
Type=Application
StartupNotify=true
Comment=PDF-XChange Editor
Icon=3F87_PDFXEdit.0
StartupWMClass=pdfxedit.exe
Terminal=false
Categories=Viewer;Office;
