[Desktop Entry]
Name=Thunderlink Opener
Comment=Open specific Message-ID Thunderbird
Exec=thunderbird -thunderlink %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=x-scheme-handler/thunderlink;
StartupNotify=true
#Actions=Compose;Contacts
#
#[Desktop Action Compose]
#Exec=fooview --gallery
#Name=Browse Gallery
#
#[Desktop Action Contacts]
#Exec=fooview --gallery
#Name=Browse Gallery
